/project/flashflood_local/Debug/
/project/flashflood_local/settings/
/project/flashflood_testbed_debug/Debug/
/project/flashflood_testbed_debug/settings/
/project/flashflood_testbed_production/Debug/
/project/flashflood_testbed_production/settings/
/project/ref_radiooff_lpm0/Debug/
/project/ref_radiooff_lpm0/settings/
/project/ref_radiooff_lpm3/Debug/
/project/ref_radiooff_lpm3/settings/
/project/ref_radiooff_lpm4/Debug/
/project/ref_radiooff_lpm4/settings/
/project/ref_radioosc/Debug/
/project/ref_radioosc/settings/
/project/ref_radiooscoff/Debug/
/project/ref_radiooscoff/settings/
/project/ref_radiorx/Debug/
/project/ref_radiorx/settings/
/project/test_lightuart/Debug/
/project/test_lightuart/settings/
*.tmp
*.dep
*.wsdt
/project/flashflood_local/path.txt
